<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187030371315-b7tv19uv9p9342g04b4cqqtbrv5t0ebq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187030371315-b7tv19uv9p9342g04b4cqqtbrv5t0ebq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187030371315-3aurcettivm7fr285duevik4448rvln1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR5b8yUKodH-J8Kg0UEiUO-8zzlDH4pqE</string>
	<key>GCM_SENDER_ID</key>
	<string>187030371315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-a8e04</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-a8e04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187030371315:ios:c96acf5e501f45b08d7086</string>
</dict>
</plist>